.page-servicebot-billing {
    padding: 40px 45px;
    min-height: 705px;
}

.trial-notice {
    background: whitesmoke;
    padding: 10px 30px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
}

.trial-notice.red {
    background: #da0304;
    border: 0;
    color: #ffffff;
}

.sb-badge {
    display: inline-block;
    border-radius: 5px;
    font-size: 12px;
    padding: 0 10px;
}

.sb-badge.yellow {
    background: #e80d0f;
    color: white;
}

.fetching {
    padding: 20px;
    text-align: center;
}