// Import contains partially required styles
@import "_component-embeddable-pricing.scss";

@mixin embed-text{
  @include text;
  font-size: 14px;
  color: $color-blue;
}
@mixin embed-label{
  @include embed-text;
  font-weight: 600;
}
@mixin embed-content-box{
  border-radius: 2px;
  background-color: #F9FCFF;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.05);
  margin: $gutter 0;
  padding: $gutter * 1.5 $gutter;
}
@mixin embed-input-styles{
  @include text;
  height: 32px;
  background-color: #FFFFFF;
  border: 1px solid #EBF3F9;
  box-shadow: inset 1px 1px 0px 0 #f2f2f2;
  color: #9B9B9B;
  font-size: 14px;
  line-height: 16px;

  &::placeholder{
    color: #9B9B9B;
  }
}

.servicebot--embeddable{
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

  &.servicebot--manage-billing-form-wrapper{
    @include embed-text;
    max-width: $gutter * 51;
    margin: auto;

    .mbf--form-wrapper{

      h3{
        text-transform: uppercase;
        font-weight: 600;
        margin: {
          top: $gutter * 2;
          bottom: $gutter;
        };

        &:first-child{
          margin-top: 0;
        }
      }

      .mbf--current-services-list{

        .mbf--current-services-item{

          .servicebot-billing-type-selector{
            margin: $gutter * 2 auto;

            ._selector{

              ._interval{
                padding: $gutter / 4 $gutter;
                border-radius: 12px;
                @include defaultTransition(150ms);

                &:hover{
                  background-color: $color-light-blue-gray;
                  @include defaultTransition(150ms);
                }

                &._selected{
                  padding: $gutter / 4 0;

                  &:hover{
                    background-color: $color-blue;
                    @include defaultTransition(150ms);
                  }
                }
              }
            }
          }

          .servicebot-pricing-table{
            border: none;
            justify-content: flex-start;

            @include breakpoint(iPhone){
              flex-direction: column;
              overflow: visible;
            }

            ._tier{
              @include border;
              border-color: $color-blue;
              border-radius: 3px;
              overflow: hidden;
              margin: $gutter / 2;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              max-width: calc(100% * (1/3) - 16px);

              &:nth-child(1){
                margin: {
                  left: 0;
                }
              }

              &:nth-child(3n){
                margin: {
                  left: $gutter / 2;
                  right: 0;
                }
              }

              &:nth-child(3n + 1){
                margin: {
                  left: 0;
                  right: $gutter / 2;
                }
              }

              &._current{

              }

              &._selected{
                color: $color-white;
                background-color: $color-blue;
                box-shadow: none;
                transition: all 550ms;

                ._price, ._interval-name{
                  color: $color-white;
                  font-weight: 600;
                  letter-spacing: 1.5px;
                }
                ._interval-name{
                  font-weight: 100;
                }
              }

              &::after{
                display: none;
              }

              ._name{
                width: 100%;
                text-transform: uppercase;
                font-weight: 600;
                padding: $gutter * 1.25;
              }

              ._price{
                text-transform: uppercase;
                margin-bottom: $gutter * 2;
              }

              ._interval-name{
                letter-spacing: 2px;
                font-weight: 100;
              }

              ._selected-label{
                @include button(solid, $color-light-blue-gray, true, $color-black);
                cursor: default;
                margin: {
                  bottom: $gutter * 2;
                };
              }

              ._tier-confirm-wrapper{
                width: 150px;
                display: flex;
                justify-content: space-around;
              }

              button{
                @include defaultTransition;
                @include button(border, $color-success, true);
                margin: {
                  bottom: $gutter * 2;
                };

                &._select-tier{
                  @include defaultTransition(150ms);
                }

                &._confirm-tier, &._select-tier:hover{
                  @include defaultTransition;
                  background: $color-success;
                  color: $color-white;
                }

                &._confirm-tier, ._cancel-tier{
                  position: relative;
                  height: 31px;
                  width: 31px;
                  @include defaultTransition(150ms);

                  .icon.check{
                    @include _icon_check($color-white);
                    transform: translate(-50%, -50%) rotate(-45deg);
                    left: 50%;
                    top: calc(50% - 2px);
                  }

                  .icon.close{
                    @include _icon_close($color-white);
                    left: calc(50% - 1px);
                    transform: translate(-50%, -50%);
                    color: $color-black;
                    &:after, &:before{
                      left: 2px;
                      top: calc(50% + 0.50px);
                      width: 19px;

                    }
                  }

                  .icon.check, .icon.close{
                    margin: auto;
                  }

                  &:hover{
                    @include defaultTransition(150ms);
                  }
                }

                &._cancel-tier{
                  background: $color-white;
                  border: $color-white;

                  &:hover{
                    background: $color-error;

                    .icon.close{
                      color: $color-white;
                    }
                  }
                }

              }

              ._feature-list{
                display: none;

                ._item{

                }
              }

              @include breakpoint(iPhone){
                max-width: 100%;
                width: 100%;
                margin: $gutter/2 0 !important;
              }
            }

          }

          .mbf--current-services-item-details{

            .mbf--current-services-item-title{

            }
          }

        }
      }

      .service-instance-box-content{

      }

      .mbf--current-services-item-buttons{

        button{

        }
      }

      #mbf--funding-form{

        .mbf--your-funding-title{

          .mbf--your-funding-title-icon{

            &.card{

            }

            &.icon{

            }

          }

          .mbf--your-funding-title-text{

          }
        }

        .mbf--card-wrapper{
          @include embed-content-box;
          transition: height 100ms linear;
          height: 46px;
          position: relative;

          &.show-form{
            height: 96px;
          }

          .mbf--card-display{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 45px;

            .mbf--card-chip{

            }

            .mbf--card-number-holder{
              color: $color-black;

              .mbf--card-brand{
                margin-right: $gutter;
                text-transform: uppercase;
                font-weight: 600;

                @include breakpoint(iPhone){
                    display: block;
                }
              }

              .mbf--card-last4{

              }

              .mbf--card-date-holder {
                padding-left: $gutter * 2;

                .mbf--card-exp-month {
                  padding-left: $gutter / 2 ;
                  font-weight: 600;
                }

                .mbf--card-exp-year {
                  font-weight: 600;
                }
              }
            }
          }
        }

        .mbf--update-funding-wrapper{
          margin: {
            top: $gutter;
          }

          .mbf--funding-personal-info{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            #card-element, .form-group{
              flex-basis: 46%;

              @include breakpoint(iPhone){
                flex-basis: 100%;
              }
            }

            #card-element{
              display: flex;
              align-items: center;
              @include embed-input-styles;
              padding: $gutter/4 $gutter/2;

              .StripeElement{
                width: 100%;

                .ElementsApp {

                  .InputElement {
                    color: #9B9B9B !important;
                    font-size: 14px !important;
                    line-height: 16px !important;
                  }
                }
              }
            }

            .form-group{

              &:nth-child(2) {
                margin-right: $gutter;
                input {
                  padding: $gutter/4 $gutter/2;
                  width: 100%;
                  @include embed-input-styles;
                }
              }
            }
          }

          button{

            &.mbf--btn-update-funding-save, &.mf--btn-cancel-update-funding{
              padding: 11.5px $gutter;
              border-radius: 2px;
              position: absolute;
              top: $gutter * 1.5;
              right: $gutter;
            }
            &.mf--btn-cancel-update-funding{
              right: calc(120px + 16px);
            }
          }

          .mbf--update-funding-wrapper-icon{

            &.keyboard{

            }

            &.icon{

            }
          }

          .mbf--update-funding{

            &.help-text{

            }
          }

        }

        button{

          &.mbf--btn-update-funding{
            padding: 11.5px $gutter !important;
            border-radius: 2px !important;
          }
        }

      }

    }

    .add-on-item-widgets{

      ._add-on-item-widget-wrapper{
        @include embed-content-box;
        padding: $gutter;

        & > .form-group > .form-input-flex{
          flex-basis: 100%;
        }

        &._add-on-item-0{ //specific item overrides

        }

        .addon-checkbox-widget-default-value-wrapper{
          width: 100%;

          .iconToggleField{
            cursor: pointer;
            position: relative;
            border: 1px solid $color-blue;
            background: white;
            width: $gutter * 2;
            height: $gutter * 2;
            border-radius: 3px;

            span.itf-icon{
              color: $color-light-blue-gray !important;
              background: none !important;
              position: absolute;
              margin-left: 4px;
              margin-top: 5px;
              width: 21px;
              height: 10px;
              border-bottom: solid 3px currentColor;
              border-left: solid 3px currentColor;
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
              @include defaultTransition(150ms);
            }

            &:hover{
              span.itf-icon {
                color: $color-title-container-border !important;
                border-color: currentColor !important;
                @include defaultTransition(150ms);
              }
            }

            &.active{
              span.itf-icon {
                color: $color-blue !important;
                @include defaultTransition(150ms);
              }
            }

            input{
              display: none;
            }
          }
        }

        .addon-checkbox-widget-default-value{ //widget by type
          width: 100%;
          flex-basis: 100%;

          ._label_wrapper{
            display: flex;
            flex-direction: column;
          }

          ._price-adjustment-label{
            margin-top: $gutter / 2;
          }
        }

        .addon-options-widget-default-value-wrapper{

          ._value-label{

          }

          ._value-input-wrapper{
            flex-basis: 50%;
            background: $color-white;

            ._value-select{
              width: 100%;
              background: $color-white;
              padding: 0 $gutter;
              font-size: 0.90rem;
              margin: 0 $gutter;
            }
          }

          &>.form-input-flex{
            border: 1px solid $color-blue;
            border-radius: 3px;

            select{
              border: none;
            }
          }

        }

        .addon-options-widget-default-value-select{
          width: 100%;
          border-radius: 0;
          background: rgba(255,255,255,0.5);
        }

        .form-group, .form-input-flex{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          label{
            color: $color-black;
            flex-grow: 1;
            text-transform: capitalize;
          }
        }

        .form-input-flex{
          flex-basis: auto;

          .request-form-toggle-option-wrapper{
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .form-group.form-group{
              width: auto;
            }
          }

        }

        .form-error{
          white-space: nowrap;
          padding-left: $gutter;
        }

      }

    }

    .add-on-item-update-submit{
      @include embed-content-box;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p{
        color: $color-medium-blue-gray;
        margin: 0;
      }

      label{
        font-weight: bold;
        margin-right: $gutter/2;
        font-size: 1rem;
        color: $color-black;
        text-transform: capitalize;
      }

      span{
        color: $color-blue;
        font-weight: bold;
        font-size: 1.02rem;

        &._per{
          padding: 0 1px;
          font-weight: 100;
        }

        &._unit{
          font-weight: 100;
          text-transform: capitalize;
        }
      }

      button{
        padding: 11.5px $gutter;
        margin-left: $gutter * 3;
      }
    }

  }

  .buttons{
    text-transform: uppercase;
  }

  .form-error {
    color: $color-error;
  }

}
