// Import contains partially required styles
@import "_component-embeddable-pricing.scss";

@mixin embed-text{
  @include text;
  font-size: 14px;
  color: $color-blue;
}
@mixin embed-label{
  @include embed-text;
  font-weight: 600;
}
@mixin embed-content-box{
  border-radius: 2px;
  background-color: #F9FCFF;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
  margin: $gutter 0;
  padding: $gutter * 1.5 $gutter;
}
@mixin embed-input-styles{
  height: 32px;
  background-color: #FFFFFF;
  border: 1px solid #EBF3F9;
  box-shadow: inset 1px 1px 0px 0 #f2f2f2;
  color: #9B9B9B;
  font-size: 14px;
  line-height: 16px;
}

.servicebot--embeddable{

  &.servicebot--manage-billing-form-wrapper{
    @include embed-text;
    max-width: $gutter * 51;

    .mbf--form-wrapper{

      h3{
        text-transform: uppercase;
        font-weight: 300;
        margin: {
          top: $gutter * 3;
          bottom: $gutter;
        };

        &:first-child{
          margin-top: 0;
        }
      }

      .mbf--current-services-list{

        .mbf--current-services-item{

          .servicebot-billing-type-selector{
            margin: $gutter * 2 auto;

            ._selector{

              ._interval{
                padding: $gutter / 4 $gutter;

                &._selected{
                  padding: $gutter / 4 0;
                }
              }
            }
          }

          .servicebot-pricing-table{
            border: none;

            ._tier{
              @include border;
              border-color: $color-blue;
              border-radius: 3px;
              overflow: hidden;
              margin: $gutter / 2;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-between;
              max-width: calc(100% * (1/3) - 16px);

              &:nth-child(2n - 5){
                margin: {
                  left: 0;
                }
              }

              &:nth-child(3n){
                margin: {
                  left: $gutter / 2;
                  right: 0;
                }
              }

              &._current{

              }

              &._selected{
                color: $color-white;
                background-color: $color-blue;
                box-shadow: none;
                transition: all 300ms;

                ._price, ._interval-name{
                  color: $color-white;
                }
              }

              &::after{
                display: none;
              }

              ._name{
                width: 100%;
                text-transform: uppercase;
                font-weight: 300;
              }

              ._price{
                text-transform: uppercase;
              }

              ._interval-name{
                letter-spacing: 2px;
                font-weight: 100;
              }

              ._selected-label{
                @include button(solid, $color-light-blue-gray, true, $color-black);
                cursor: default;
                margin: {
                  bottom: $gutter * 2;
                };
              }

              button{
                @include defaultTransition;
                @include button(border, $color-success, true);
                margin: {
                  bottom: $gutter * 2;
                };

                &._select-tier{

                }

                &._confirm-tier, &:hover{
                  @include defaultTransition;
                  background: $color-success;
                  color: $color-white;
                }
              }

              ._feature-list{
                display: none;

                ._item{

                }
              }
            }

          }

          .mbf--current-services-item-details{

            .mbf--current-services-item-title{

            }
          }

        }
      }

      .service-instance-box-content{

      }

      .mbf--current-services-item-buttons{

        button{

        }
      }

      #mbf--funding-form{

        .mbf--your-funding-title{

          .mbf--your-funding-title-icon{

            &.card{

            }

            &.icon{

            }

          }

          .mbf--your-funding-title-text{

          }
        }

        .mbf--card-wrapper{
          @include embed-content-box;
          position: relative;

          .mbf--card-display{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .mbf--card-chip{

            }

            .mbf--card-number-holder{
              color: $color-black;

              .mbf--card-brand{
                margin-right: $gutter;
                text-transform: uppercase;
                font-weight: 600;
              }

              .mbf--card-last4{

              }

              .mbf--card-date-holder {
                padding-left: $gutter * 2;

                .mbf--card-exp-month {
                  padding-left: $gutter / 2 ;
                  font-weight: 600;
                }

                .mbf--card-exp-year {
                  font-weight: 600;
                }
              }
            }
          }
        }

        .mbf--update-funding-wrapper{
          margin: {
            top: $gutter*2;
          }

          .mbf--funding-personal-info{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            #card-element, .form-group{
              flex-basis: 46%;
            }

            #card-element{
              display: flex;
              align-items: center;
              @include embed-input-styles;
              padding: $gutter/4 $gutter/2;

              .StripeElement{
                width: 100%;

                .ElementsApp {

                  .InputElement {
                    color: #9B9B9B !important;
                    font-size: 14px !important;
                    line-height: 16px !important;
                  }
                }
              }
            }

            .form-group{

              &:nth-child(2) {
                margin-right: $gutter;
                input {
                  padding: $gutter/4 $gutter/2;
                  width: 100%;
                  @include embed-input-styles;
                }
              }
            }
          }

          button{

            &.mbf--btn-update-funding-save, &.mf--btn-cancel-update-funding{
              padding: 11.5px $gutter;
              border-radius: 2px;
              position: absolute;
              top: $gutter;
              right: $gutter;
            }
            &.mf--btn-cancel-update-funding{
              right: calc(120px + 16px);
            }
          }

          .mbf--update-funding-wrapper-icon{

            &.keyboard{

            }

            &.icon{

            }
          }

          .mbf--update-funding{

            &.help-text{

            }
          }

        }

        button{

          &.mbf--btn-update-funding{
            padding: 11.5px $gutter !important;
            border-radius: 2px !important;
          }
        }

      }

    }

  }

}
