/* mixins */
@import "_mixins";
@import "css-icons";

/* variables */
@import "variables";
@import "colors";
@import "text";

/* elements */
@import "buttons";

/* component */
@import "_component-forms";
@import "_component-tier";
@import "_component-forms-offering";
@import "_component-embeddables";
@import "_component-embeddables-checkout";

/* layout components */
@import "_layout-nav";
@import "_layout-content";

img{
  @include text_muted;
}

/* servicebot-billing-embed client -- for this repo project only! */
@import "_elements-credit-cards.scss";
@import "_component-servicebot-billing-embed-client.scss";