/* _section font */
$section_heading: 16px;
@mixin font{
  font-family: 'Open Sans', 'Arial', "sans-serif", "serif";
  color: $color-blue-gray;
}

@mixin text{
  @include font;
  font-size: 14px;
}
@mixin text_muted{
  @include text;
  color: $color-heading;
  font-size: 12px;
}
@mixin heading{
  @include font;
  color: $color-heading;
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
}
@mixin sub_heading{
  color: $color-heading;
  line-height: 22px;
  font-size: 16px;
  font-family: "Avenir", "Arial", "sans-serif", "serif";
}
._sub-heading{
  @include sub_heading;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800');
$heading-font: 'Montserrat', sans-serif;